<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoDoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MoDoListWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E26D1E461DA544CC00F3E95C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2BBBEBA1D7B118D003B58A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2BBBECE1D7B118D003B58A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2BBBED91D7B118D003B58A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
